.item1 {
  grid-area: header;
}
.item2 {
  grid-area: h1;
}
.item3 {
  grid-area: main;
  margin-bottom: 40px;
}
.item4 {
  grid-area: image;
}
.item5 {
  grid-area: footer;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header "
    "h1 h1 h1 h1 h1"
    "main main image image image"
    "footer footer footer footer footer";
  grid-gap: 10px;
}

.item2 {
  text-align: left;
  width: 800px;
  margin-left: 150px;
}

.item3 {
  width: 800px;
  margin-left: 30px;
}

body {
  margin: 0;
  background-color: white;
  color: #333;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}
p {
  font-size: 25px;
}
#botomBar {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #333;
}
