body {
    background-color: #A9A9A9;
    text-align: center;
}
header{
    margin-left: 30px;
    font-size: 50px;

}
ul{
    list-style: none;
    font-size: 30px;

}
ul li{
    margin-top: 20px;
}
.notGame{
    margin-top: 200px;
}
#backToMenu{
    margin-left: -1200px;
    padding-top: -200px;
}